.wrapper {
    min-width: 320px;
    min-height: 720px;
    max-width: 1366px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.container {
    @include flexibles(94%, 100vh, center, center, row, wrap);
    }

@font-face {
    font-family: 'Deftone Stylus';   /* Гарнитура шрифта */
    src: url("../../source/fonts/Deftone_Stylus.ttf"); /* Путь к файлу со шрифтом */
    }