@media screen and (max-width: 768px) {
    .nav {
        display: none;
        }
    
    .container {
        margin-left: 0;
        }

    .main {
        width: 100%;
        }

    .aside {
        width: 100%;
        height: max-content;
        }

    .footer_box {
        width: 20%;
        }

    }