@media screen and (max-width: 768px) {
    .nav { 
        display: none;
        }
    
    .container {
        margin-left: 0;
        }

    .main {
        width: 100%;
        }

    .aside {
        width: 100%;
        height: max-content;
        }

    .footer_box {
        width: 25%;
        }

    }

@media screen and (max-width: 375px) {
    .main__box {
        width: 100%;
        }
    }
    
@media screen and (width: 1920px) {
    .container {
        margin-left: 7%;
        }

        .side-box {
            background-color:red;
            height: 100%;
            }

}