@mixin flexible($jCont: center, $aCont:center, $direct:row, $wrap:wrap) {
    display: flex;
    justify-content: $jCont;
    align-content: $aCont;
    flex-direction: $direct;
    flex-wrap: $wrap;
}

@mixin flexibles($W, $H, $jCont: center, $aCont:center, $direct:row, $wrap:wrap) {
    display: flex;
    width: $W;
    height: $H;
    justify-content: $jCont;
    align-content: $aCont;
    flex-direction: $direct;
    flex-wrap: $wrap;
}