@mixin Primary-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: normal;
    color: red;
}

@mixin flexible($jCont: center,$aCont: stretch,$direct: row,$wrap: wrap) {
    display: flex;
    justify-content: $jCont;
    align-content: $aCont;
    flex-direction: $direct;
    flex-wrap: $wrap;
}