//size
$nav-width: 5%;


// color


// font-sizes
$fz20: calc(6px + 1.1vw);
$fz16: calc(6px + 0.77vw);
$fz14: calc(6px + 0.62vw);
$fz13: calc(5px + 0.62vw);
$fz12: calc(5px + 0.55vw);
$fz10: calc(5px + 0.4vw);



