//size
$nav-width: 5%;


// color


// font-sizes
$fz20: calc(6px + 1.1vmin);
$fz16: calc(6px + 0.77vmin);
$fz14: calc(6px + 0.62vmin);
$fz13: calc(5px + 0.62vmin);
$fz12: calc(5px + 0.55vmin);
$fz10: calc(5px + 0.4vmin);
$fz8:  calc(4px + 0.3vmin);



