.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27%;
    }

.footer__title {
    @include flexibles(100%, 25%, center, center, row, wrap);
    color: #777777;
    font-weight: bold;
    font-size: 14px;
    }

.footer_box {
    @include flexibles(80%, 75%, space-between, space-between, row, wrap);
    }

.footer__link {
    display: flex;
    width: 30%;
    height: 45%;
    background-color:gold;
    }

.footer__link:nth-child(1) {
    background: url("../../source/img/footer/rdio.png") no-repeat center;
    background-size: contain;
    }

.footer__link:nth-child(2) {
    background: url("../../source/img/footer/css3.png") no-repeat center;
    background-size: contain;
    }

.footer__link:nth-child(3) {
    background: url("../../source/img/footer/deviantart.png") no-repeat center;
    background-size: contain;
    }

.footer__link:nth-child(4) {
    background: url("../../source/img/footer/xing.png") no-repeat center;
    background-size: contain;
    }

.footer__link:nth-child(5) {
    background: url("../../source/img/footer/vimeo.png") no-repeat center;
    background-size: contain;
    }

.footer__link:nth-child(6) {
    background: url("../../source/img/footer/vk.png") no-repeat center;
    background-size: contain;
    }