.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 15vmin;
    font-weight: bold;
    font-size: $fz16;
    }

.header_top {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    }

.header_top__link, .header_top__dots, .header_top__search, .header_top__person {
    display: flex;
    flex-grow: 1;
    border: 1px #F1F1F1 solid;
    }

.header_top__link:nth-child(1) {
    background: url("../../source/img/header/more.png") no-repeat center;
    background-size: 1vmax;
    }

.header_top__link:nth-child(2) {
    background: url("../../source/img/header/folder.png") no-repeat center;
    background-size: 1vmax;
    }

.header_top__link:nth-child(3) {
    background: url("../../source/img/header/settings.png") no-repeat center;
    background-size: 1vmax;
    }

.header_top__link:nth-child(5) {
    background: url("../../source/img/header/upload.png") no-repeat center;
    background-size: 1vmax;
    }

.header_top__link:nth-child(6) {
    background: url("../../source/img/header/mail.png") no-repeat center;
    background-size: 1vmax;
    }

.header_top__link:nth-child(7) {
    background: url("../../source/img/header/globe.png") no-repeat center;
    background-size: 1vmax;
    }

.header_top__search {
    @include flexible(center,center, row, wrap);
    flex-grow: 10;
    }

.header_top__search--input {
    width: 50%;
    padding: 1% 2%;
    border: 1px #F2F2F2 solid;
    border-radius: 3vmin;
    background: url("../../source/img/header/zoom-in.png") no-repeat 96%;
    background-size: 1vmin;
    background-color: #F8F8F8;
    color: #C8C8C8;
    font-size: $fz12;
    }

.header_top__person {
    @include flexible(center,flex-start, column, wrap);
    flex-grow: 2;
    border-left: none;
    border-right: none;
    }

.header_top__person-photo {
    height: 100%;
    object-fit: contain;
    }

.header_top__person-name {
    margin: 0 0 2% 5%;
    font-size: $fz12;
    color: red;
    }

.header_top__person-occupation {
    margin: 0 0 0 5%;
    font-size: $fz10;
    font-weight: 400;
    color: #BFBFBF;
    }

.header_top__dots {
    display: flex;
    border-left: none;
    }

.dots {
    flex-grow: 1;
    background: url("../../source/img/header/Ellipse3.png") no-repeat center;
    background-size: auto;
    }

.header_bottom {
    height: 60%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    }

.header_bottom__stat, .header_bottom__add-stat {
    @include flexible(center,center,column, nowrap);
    flex-grow: 1;
    padding-left: 1%;
    }

.header_bottom__add-stat {
    color: #FD7858;
    font-size: $fz12;
    }

.header_bottom__stat--name, .header_bottom__stat--value, .header_bottom__stat--today {
    @include flexible(left,center,row, nowrap);
    }

.header_bottom__stat--name, .header_bottom__stat--today-up, .header_bottom__stat--today-down {
    color: #777777;
    font-weight: bold;
    font-size: $fz12;
    }

.header_bottom__stat--value {
    margin: 1% 0;
    color: #FD7858;
    font-weight: bold;
    font-size: $fz20;
    }

.header_bottom__stat--today-up, .header_bottom__stat--today-down {
    color: #BFBFBF;
    }

.header_bottom__stat--today-up::before {
    content: "\25B2";
    color: #A889E9;
    }

.header_bottom__stat--today-down::before {
    content: "\00A0\25BC";
    color: #FD5670;
    }
