.main {
    width: 79%;
    height: 83%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #EEEEEE;
}

.main__Monthly {
    width: 60%;
    height: 30%;
    margin: 1%;
    background-color:orange;
    }

.main__Revenue {
    width: 35%;
    height: 30%;
    margin: 1%;
    background-color:green;
    }

.main__Customers {
    width: 48%;
    height: 60%;
    margin: 1%;
    background-color:grey;
    }

.main__Todays {
    width: 48%;
    height: 30%;
    margin: 1%;
    background-color:blue;
    }

.main__Progress {
    width: 20%;
    height: 30%;
    margin: 1%;
    background-color:magenta;
    }

.main__Shipments {
    width: 20%;
    height: 20%;
    margin: 1%;
    background-color:salmon;
    }


