.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: $nav-width;
    height: 100vh;
    background: linear-gradient(to bottom,rgb(243,114,87), rgb(253,82,114));
    text-decoration: none;
    }

.nav__logo--wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%; // пропорции блока определяются здесь
    }

.nav__logo {
    @include flexibles(100%, 100%, center,center,column, wrap);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    color: rgba($color: #FF0000, $alpha: 0.5);
    font-family: 'Deftone Stylus', arial;  
    font-size: 30px;
    }

.nav__link {
    @include flexibles(4vw, 3vw, flex-end, center, column, wrap);
    margin: 6% auto;
    font-size: $fz10;
    color: #FFFFFF;
    text-decoration: none;
    }

.nav__link:nth-child(2) {
    background: url("../../source/img/nav/home.png") no-repeat 50% 30%;
    }

.nav__link:nth-child(3) {
    background: url("../../source/img/nav/bar-chart.png") no-repeat 50% 30%;
    }

.nav__link:nth-child(4) {
    background: url("../../source/img/nav/user.png") no-repeat 50% 30%;
    }

.nav__link:nth-child(5) {
    background: url("../../source/img/nav/settings.png") no-repeat 50% 30%;
    }

.nav__link:nth-child(6) {
    background: url("../../source/img/nav/information.png") no-repeat 50% 30%;
    }

.nav__link:nth-child(7) {
    flex-grow: 1;
    background: url("../../source/img/nav/power-button.png") no-repeat;
    background-position: 50% 95%;
    }